/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card {
    margin-bottom: 20px;
}

.tweet-composer {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    padding: 10px
}

.tweet-composer button {
    margin-top:10px;
}